*.log
*.session
*.cache
.settings
.project
.buildpath
npm-debug.log*
*.ep

jsconfig.json
.vscode/launch.json
.vscode/settings.json
.vscode/taskss.json

build
.vscode
docs/old
dist
tmp/*
node_modules
bower_components

unused_*
todo_*
old_*
iconmonst*